__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
.venv/
venv_old_clean/
venv_old/
uploads/
*.env
*.log
.DS_Store
*.sqlite3
# Ignore folders
vectorstore/
data_store/
data/
db/
results/
reports/
asessment_data/
results/
exports/
output/
assessment_results
ref_data
ingest.log

# Ignore large files
*.pdf
